<mat-card class="mat-elevation-z12 about_card">
    <mat-toolbar color="primary" class="toolbar">
        <p>About Us</p>
    </mat-toolbar>
    <h4 style="text-align: center">Our Expert Team</h4>
    <p class="about">We are a team of expert designers and developers. We build top-notch web and mobile applications.
        We enable
        clients in 5 countries to create and execute strategies for their digital transformation. From engineering to
        application development, knowledge management and business process management, we help our clients find the
        right problems to solve, and to solve these effectively.</p>

    <h4 style="text-align: center">Artificial Intelligence</h4>
    <p class="about">Artificial intelligence is the simulation of human intelligence processes by machines, especially computer systems.
    These processes include learning (the acquisition of information and rules for using the information), reasoning
    (using the rules to reach approximate or definite conclusions), and self-correction. NextOnTop's vertical AI domain
    models can optimize and scale your business instantly.</p>
    <img style="position: relative;left: 25%;width: 50%; height:40vh" src="../../assets/social.png">
</mat-card>