.about_card {
    width:100%;
    height:100%;
    background-color: whitesmoke;
}

.toolbar {
    width:98%;

}
.about{
    text-align: justify;
    width:70%;
    position: relative;
    left: 15%;
    margin-top: 2%
}