<mat-card class="mat-elevation-z12 about_card">
    <mat-toolbar color="primary" class="toolbar">
        <p style="text-align: center">Our Services</p>
    </mat-toolbar>
    <h4 style="text-align: center">WEB</h4>
    <p class="about">Watch as we make your site much more resourceful. We expertly craft anything into the frame of your
        web applications, from simple content management systems which provide foundation for your mobile app to grade
        web applications.</p>

    <h4 style="text-align: center">MOBILE</h4>
    <p class="about">Every App owes it to the user an easy, and exciting experience every time. It is you’re the UI of
        your app that establishes the brand of your company. We will provide you with premium mobile applications as
        it’s our custom.</p>
    <h4 style="text-align: center">Ecommerce</h4>
    <p class="about">Adding value to your business, we provide the finest Ecommerce development services to help
        generate high revenue and improve conversions.</p>
</mat-card>