/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");



html,body
{
    padding:0px;
    margin:0px;
    overflow:hidden;
    height:100%;
    width:100%;
    background-color:rgb(82, 13, 13);
}