.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgrey;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #cfcaca;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .ChartOne {
    display: block;
    width: 60%;
    height: 300px;
    margin-left: -30%;
 }
 .ChartTwo {
    display: block;
    width: 60%;
    height:300px;
    /* margin-right: 10%; */
    /* margin-top: -270px; */
 }
 .ChartThree {
    display: block;
    width: 60%;
    height:300px;
    position: relative;
    left: 30%;
    /* margin-right: 10%; */
    /* margin-top: -270px; */
 }
